@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    
}

body{
    background-color: #394867;
}

.container{
    font-family: 'Lato', sans-serif;
    /* border: 1px solid black; */
    border-radius: 8px;
    width: 35%;
    padding: 20px 40px;
    margin: 20px auto;
    background-color: #212A3E;

}

.row{
    width: 100%;
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    /* border: 1px solid black; */
    font-size: 20px;
    padding: 10px 0px;
}

.row #pwdlab{
    padding: 10px 0px;
    font-size: 25px;
    font-weight: bolder;
    color: white;
    transition: all 3 ease-out;
    /* border-top: 1px solid red; */
}

.row input[type="password"]{
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
}



.row input[type="checkbox"]{
    width: 20px;
    height: 20px;
    display: inline-block;
    /* font-size: 20px; */
    /* position: relative;
    left: 2px; */
    margin: 10px 0px;

}
.condition{
    /* border: 1px solid black; */
    width: 100%;
    margin: 20px auto;
    color: red;
    font-weight: 600;
}

.check{
    margin: 10px 0px;
}

.tick{
    display: inline;
}

.btn{
    width: 100%;
    margin:40px auto;
    display: block;
    height: 40px;
    color: white;
    font-size: 20px;
    border: 2px solid rgb(245, 246, 240);
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(10, 15, 6);
}